#header {
}
.header_top{
    background-color: #131921;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px 0 15px;
    .reg_text{
        font-size: 12px;
        line-height: 14px;
    }
    .text {
        font-size: 14px;
        line-height: 15px;
        font-weight: 700;  
    }
    .header_logo {
        display: block;
        background-image: url(../images/sprite_navbar.png);
        background-position: -8px -43px;
        width: 114px;
        height: 40px;
        overflow: hidden;
        position: relative;
        .dot_country{
            position: absolute;
            right: 0;
            top: 8px;
        }
    }
    .header_location {
        display: flex;
        align-items: flex-end;
        gap: 4px;
        .icon {
            background-image: url(../images/sprite_navbar.png);
            background-position: -71px -378px;
            width: 16px;
            height: 20px;
        }
    }
    .header_form{
        max-width: 800px;
        width: 100%;
    }
    form{
        display: flex;
        height: 40px;
        .form_select{
            background-color: #f3f3f3;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid #cdcdcd;
            width: 150px;
            font-size: 12px;
            text-align: center;
            color: #12121398;
        }
        input, button, select{
            height: 100%;
            border: none;
            overflow: hidden;
        }
        .form_search{
            max-width: 700px;
            width: 100%;
        }
        .search_field{
            width: 100%;
        }
        .btn_search {
            background-image: url(../images/sprite_navbar.png);
            background-position: 2px -280px;
            background-color: #febd69;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 45px;
        }
    }
    .header_cart{
        height: 40px;
        width: 80px;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-bottom: 5px;
        .cart_img{
            height: 30px;
            width: 40px;
            background-image: url(../images/sprite_navbar.png);
            background-position: -9px -338px;
            position: relative;
        }
        .cart_qty{
            position: absolute;
            color: #f08804;
            font-weight: 700;
            top: -5px;
            left: 18px;
        }
        .text {
            position: absolute;
            right: -2px;
            bottom: 5px;
        }
    }
}