#page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #232f3e;
    color: #111;
    height: auto;
    box-shadow: 0 0 5px #684d9b54;
    width: 80%;
    transition: all .4s ease;
    z-index: 1000;
    height:100vh;
    .close{
        color: #fff;
        font-size: 40px;
        position: absolute;
        right: -10%;
    }
    .sidemenu_top {
        color: #fff;
        max-width: 100%;
        height: 178px;
        position: relative;
        .login{
            height: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 20px 20px;
            .icon{
                background-image: url(../images/sprite_log.png);
                background-position: -170px -268px;
                background-size: 275px;
                height: 24px;
                width: 24px;
            }
            .text{
                padding-right: 4px;
                font-size: 14px;
                line-height: 14px;
            }
        }
        .middle {
            height: 68px;
            padding: 0 20px;
            .text{
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
            }
            .subtext{
                font-size: 28px;
                line-height: 28px;
            }
        }
        .home{
            height: 60px;
            width: 100%;
            background-color: #fff;
            color: #111;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            .text{
                font-size: 19px;
                line-height: 24px;
                font-weight: 700;
            }
            .icon{
                background-image: url(../images/sprite_log.png);
                background-position: -142px -271px;
                background-size: 275px;
                height: 19px;
                width: 19px;
            }
        }
    }
    .sidemenu {
        background-color: #d5dbdb;
        max-height: 100vh;
        overflow-y: scroll;
        padding-top: 16px;
        ul {
            padding: 0;
            background-color: #fff;
            margin: 0 0 6px 0;
        }
        li {
            position: relative;
            a,
            div {
                display: block;
                color: #111;
                padding: 15px 20px;
                font-size: 16px;
            }
            div{
                font-weight: 700;
                font-size: 19px;
                line-height: 24px;
            }
        }
    }
}

.open {
    width:100vw;
    height:100vh;
    overflow:hidden;
    #page_overlay {
        display: block;
    }
    #mobile_menu_wrap {
        left: 0px;
    }
}