@media screen and (max-width:1150px){
    #header,
    aside,
    .results_widget{
        display: none;
    }
    #header_mobile,
    .results_widget_mob{
        display: block;
    }
    .banner {
        float:none;
        width: 100%;
        .banner_head.mobile{
            display: block;
        }
        .item.mobile{
            display: block;
        }
        a{
            color: #0f1111;
            display: block;
        }
        .banner_head{
            display: none;
        }
        .banner_head.mobile{
            display: block;
            .link{
                color: #000;
                font-size: 16px;
            }
            .sublink{
                color: #878787;
                font-size: 12px;
            }
        }
        .banner_items{
            gap: 10px;
            .item{
                width: calc(25% - 7.5px);
                max-width: 375px;
                a{
                    display: block;
                }
                .image{
                    padding:10px 0;
                    height: 120px;
                }
                .rait_wrap{
                    display: none;
                }
            }
        }
    }
    .products{
        width: 100%;
        .item{
            width: 100%;
            height: 170px;
            flex-direction: row;
            max-width: none;
            .item_link{
                display: flex;
                width: 100%;
            }
            .image{
                width: 42%;
                height: 170px;
                img{
                    height: 100%;
                }
            }
            .text_wrap {
                padding-left: 7px;
                padding-top: 5px;
                width: 58%;
            }
        }
    }
}



@media screen and (max-width:650px){
    .banner {
        .banner_items{
            flex-wrap: wrap;
            gap: 10px;
            .item{
                width: calc(50% - 5px);
            }
        }
    }
}