@import "~bootstrap/scss/bootstrap";
@import "fonts";
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #fff;
    &:hover{
        color: #fff
    }
}
li, ul {
    list-style: none;
}
@import "header";
.main-content_wrap{
    display: flex;
    gap: 25px;
}
@import "banner";
@import "results_widget";
