@import "~bootstrap/scss/bootstrap";
@import "fonts";
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #fff;
    &:hover{
        color: #fff
    }
}
li, ul {
    list-style: none;
}
.container{
    max-width: 1500px;
}
@import "header";
@import "header_mobile";
.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
}
section {
  float: right;
  width: 80%;
}
aside {
    width: 17.5%;
    margin-right: 2.5%;
    float: left;
    height: 100%;
}
@import "banner";
@import "results_widget";
@import "products";
@import "response";
