<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="assets/css/all.min.css">
</head>
<body>
    <%= _.template(require('./../parts/mobile_menu.html').default)(data) %>
    <%= _.template(require('./../parts/header_mobile.html').default)(data) %>
    <%= _.template(require('./../parts/header.html').default)(data) %>
    <%= _.template(require('./../parts/modal_menu.html').default)(data) %>
    <main>
        <%= _.template(require('./../parts/results_widget.html').default)(data) %>
        <div class="group container">
            <%= _.template(require('./../parts/aside.html').default)(data) %>
            <%= _.template(require('./../parts/banner.html').default)(data) %>
            <%= _.template(require('./../parts/products.html').default)(data) %>
        </div>
    </main>

    <script src="assets/js/all.min.js"></script>
</body>
</html>